
:root {
    --color_white: #ffffff;
    --color_light: #d3cdcd;
    --color_dark: #272626;
    --color_bordeaux: #6d071a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 0;
    margin-bottom: 60px;
    width: 100%;
    height: 60px;
    background-color: var(--color_light);
}
header > * {
    display: flex;
    align-items: center;
    height: 60px;
}
footer {
    position: fixed;
    bottom: 0;
    margin-top: 60px;
    width: 100%;
    height: 60px;
    background-color: var(--color_light);
}
footer > * {
    display: flex;
    align-items: center;
    height: 60px;
}
section {
    margin-bottom: 60px;
    margin-top: 60px;
}

.logo {
    margin: 5px;
    width: 40px;
    height: 40px;
}
.icon {
    margin: 5px;
}
.icon_instagram {
    width: 40px;
    height: 40px;
}
.icon_facebook {
    width: 40px;
    height: 40px;
}

.display_flex_row {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.display_flex_row > * {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.display_flex_col, .display_flex_col > * {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.display_left {
    justify-content: flex-start;
}
.display_center {
    justify-content: center;
}
.display_right {
    justify-content: flex-end;
}

button {
    width: 100px;
    height: 30px;
    margin: 5px;
    font-size: large;
    border-radius: 0;
    border: 0;
    background-color: var(--color_bordeaux);
    color: #d3cdcd;
}
button:hover {
    background-color: rgb(241, 199, 213);
    color: var(--color_dark);
}
.gallery_button {
    font-size: xx-large;
    height: 400px;
    align-items: center;
    justify-content: center;
}
.gallery_button p {
    position: absolute;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.gallery_button p:hover {
    opacity: 0.8;
}
.gallery_button img {
    height: 400px;
    width: auto;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}
.gallery_button img:hover {
    opacity: 0.1;
}