:root {
    --color_white: #ffffff;
    --color_black: #000000;
    --color_bordeaux: #800020;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}